doctype html
html
  head
    title actual-time 管理后台
    link(href="/static/library/layui/css/layui.css" rel="stylesheet" type="text/css")
    block styles

  body
    block content

  script(src="/static/library/layui/layui.js" type="text/javascript")
  
  block scripts