doctype html
html
  head
    title actual-time demo
    link(href="/static/library/bootstrap.css" rel="stylesheet" type="text/css")
    block styles

  body
    block content

  script(src="/static/library/jquery.js" type="text/javascript")
  
  block scripts