.header {
  height: 60px;
  width: 100%;
  background-color: #eeeeee;

  .header-inner {
    width: 80%;
    margin: 0 auto;
  }
  .logo {
    font-size: 30px;
    color: #555555;
    height: 60px;
    line-height: 60px;
  }
}

.container {
  width: 820px;
  margin: 0 auto;
}
.col-md-4, .col-md-8 {
  display: inline-block;
}
.col-md-4 {
  width: 120px;
}
.col-md-8 {
  width: 700px;
}


.custom-row, .custom-radio-row {
  line-height: 200%;
  margin: 40px 0px;
}

.custom-row {
  input {
    width: 500px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding-left: 5px;
  }
  .uploadField {
    width: 470px;
    border-radius: 3px 0px 0px 3px;
  }
}

.custom-radio-row {
  input, span {
    margin-right: 10px;
    display: inline-block;
  }
  span {
    margin-right: 20px;
  }
}

.custom-textarea-row {
  .col-md-4 {
    float: left;
  }
  textarea {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 5px;
  }
}

.error {
  margin-left: 20px;
  color: red;
  display: none;
}

.icon-upload {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/static/images/upload.png") no-repeat #d2d2d2;
  background-size: cover;
  position: relative;
  top: 11px;
  border: 1px solid #cccccc;
  border-radius: 0 3px 3px 0px;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin: 50px auto;

  button {
    background-color: #1E9FFF;
    color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid rgb(33, 149, 250);
    width: 120px;
    height: 40px;
    line-height: 39px;
    cursor: pointer;

    &:hover {
      background-color: rgb(33, 149, 250);
      color: #FFFFFF;
    }
  }
}